{% extends 'base.html' %}

{% block body %}

<table class="table table-striped mt-3">


    <thead>
        <tr>
            <th>Melon Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        {% if melon_object_list %}
        {% for melon in melon_object_list %}
        <tr>
            <td>{{ melon.common_name }}</td>
            <td>{{ melon.quantity }}</td>
            <td>{{ melon.price_str() }}</td>
            <td>{{ melon.total_cost }}</td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>

<h3>Total: ${{ total_cost }}</h3>

<a href="/checkout" class="btn btn-large btn-primary">Check Out</a>

{% endblock %}